<h2>CONSULTAR TIPO DE CAMBIO</h2>

<form name="changeMoneyForm" [formGroup]="changeMoneyForm">

  Moneda origen:
  <select formControlName="originCurrency">
    <option value="" selected>Seleccione moneda origen</option>
    <option value="USD">USD</option>
    <option value="PEN">PEN</option>
  </select>

  Moneda destino:
  <select formControlName="destinationCurrency">
    <option value="" selected>Seleccione moneda destino</option>
    <option value="USD">USD</option>
    <option value="PEN">PEN</option>
  </select>

  Monto:
  <input type="text" formControlName="amount">

  <button (click)="changeMoney()">Consultar</button>
  <button (click)="cancel()">Cancelar</button>
</form>

<div>Moneda origen: {{exchangeRate.originCurrency}}</div>
<div>Moneda destino: {{exchangeRate.destinationCurrency}}</div>
<div>Monto: {{exchangeRate.amount}}</div>

<div>Tipo de cambio: {{exchangeRate.exchangeRate}}</div>
<div>Monto con tipo de cambio: {{exchangeRate.amountChanged}}</div>