<h2>REGISTRO DE TIPO DE CAMBIO</h2>

<form name="exchangeRateForm" [formGroup]="exchangeRateForm">

  Moneda origen:
  <select formControlName="originCurrency">
    <option value="" selected>Seleccione moneda origen</option>
    <!-- <option *ngFor="let elem of moneys" value="{{elem}}">{{elem}}</option> -->
    <option value="USD">USD</option>
    <option value="PEN">PEN</option>
  </select>

  Moneda destino:
  <select formControlName="destinationCurrency">
    <option value="" selected>Seleccione moneda destino</option>
    <option value="USD">USD</option>
    <option value="PEN">PEN</option>
  </select>

  Tipo de cambio:
  <input type="text" formControlName="exchangeRate">

  <div class="textError" *ngIf="exchangeRateForm.controls.exchangeRate.errors">
    Ingresa un tipo de cambio
  </div>

  <button (click)="save()">Guardar</button>
  <button (click)="cancel()">Cancelar</button>
</form>

<div>Moneda origen: {{exchangeRate.originCurrency}}</div>
<div>Moneda destino: {{exchangeRate.destinationCurrency}}</div>
<div>Tipo de cambio: {{exchangeRate.exchangeRate}}</div>